body {
	background: rgb(0,154,223);
	color: rgb(255,255,255);
	font-family:arial, helvetica, sans-serif;
	font-size: 18px;
}
h1 { 
	font-weight: 400; 
	font-family:'Quicksand', sans-serif;
  	font-size: 3em;
  	text-shadow: 4px 4px 4px #aaa;
}

div {
	background: rgb(124,138,141);
}
