body {
  background: rgb(0,154,223);
  color: rgb(255,255,255);
  font-family:arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  margin: 2em;
  width: 80;
}
h1, { 
	font-family: font-family: c font-weight: 400; 
	font-family:'Quicksand', sans-serif;
  	font-size: 48px;
  	text-shadow: 4px 4px 4px #aaa;
}

Div {
	Background: rgb(124,138,141);
}
